{% extends 'assignment_system/layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            Створені мною:
            <ul class="list-group">
                {% for assignment in assignments_created_by_me %}
                    <div class="list-group-item" style="width:50%">
                        <a href="{% url "assignment_edit" assignment.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{assignment.title}}</h5>
                            </div>
                        </a>
                        <small><a href="{% url "assignment_delete" assignment.id %}">Видалити</a></small>
                        <small><a href="{% url "assignment_template" assignment.id %}">Шаблон</a></small>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm">
            Я є виконавцем:
            <ul class="list-group">
                {% for assignment in assignments_assigned_to_me %}
                    <div class="list-group-item" style="width:50%">
                        <a href="{% url "assignment_edit" assignment.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{assignment.title}}</h5>
                            </div>
                        </a>
                        <small><a href="{% url "assignment_delete" assignment.id %}">Видалити</a></small>
                        <small><a href="{% url "assignment_template" assignment.id %}">Шаблон</a></small>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<a href="{% url "assignment_new" %}">Додати новий</a>
{% endblock %}