{% extends 'assignment_system/layout.html' %}
{% block content %}
<a href="{% url "assignment_list" %}">Назад</a>
<br/>
<br/>
<div class="container">
    <div class="text-center">ДОРУЧЕННЯ</div>
    <br/>
    <br/>
    <div class="text-center">{{assignment.title}}</div>
    <br/>
    <br/>
    Я, {{ assignment.task_owner.name }} {{ assignment.task_owner.last_name }},
    доручаю {{ assignment.description }} наступним особам:
    {% for assignee in assignees %}
        {{assignee}}
    {% endfor %}.
    <br/>
    <br/>
    {{ position }}<br/>
    {{created_at}}
</div>

<br/>
<br/>
{% endblock %}