{% extends 'assignment_system/layout.html' %}
{% block content %}
<a href="{% url "directive_list" %}">Назад</a>
<br/>
<br/>
<button id="print">Друк</button>
<div class="container" id="template">
    <div class="text-center">РОЗПОРЯДЖЕННЯ</div>
    <br/>
    <br/>
    <div class="text-center">{{directive.title}}</div>
    <br/>
    <br/>
    {{ directive.description }}.
    <br/>
    <br/>
    {{ directive.task_owner.position }}<br/>
    {{ directive.task_owner.name }} {{ directive.task_owner.last_name }}<br/>
    {{created_at}}
</div>

<br/>
<br/>
<script>
    const button = document.getElementById('print');
    //bug: works only ones until reload
    button.onclick = function() {
        printDiv('template');
    }
</script>
{% endblock %}