{% extends 'assignment_system/layout.html' %}
{% block content %}
<h1>Hello from get_one.html</h1>
<form>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="{{assignee.email}}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter email" value="{{assignee.name}}">

        <label for="last_name">Last name</label>
        <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" placeholder="Enter email" value="{{assignee.last_name}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}