{% extends 'assignment_system/layout.html' %}
{% block content %}
<select id="search-options">
    <option value="title">Заголовок</option>
    <option value="description">Опис</option>
</select>
<input type="text" id="search"/>
<button id="btn-search">Пошук</button>
<ul class="list-group">
    {% for post in posts %}
        <div class="list-group-item" style="width:50%">
            <a href="{% url "post_edit" post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{post.title}}</h5>
                </div>
            </a>
            <small><a href="{% url "post_delete" post.id %}">Видалити</a></small>
            <small><a href="{% url "post_template" post.id %}">Шаблон</a></small>
        </div>
    {% endfor %}
</ul>
<a href="{% url "post_new" %}">Додати новий</a>
{% load static %}
<script type="text/javascript" src="{% static 'assignment_system/js/jquery-3.3.1.min.js' %}"></script>
<script>
    const $search = $('input#search');
    const $select = $('select#search-options');
    const $btn = $('button#btn-search');
    const href = window.location.href;
    const params = href.split('?')[1];
    if (params) {
        const [field, value] = params.slice(0, -1).split('=');
        $select.val(field);
        $search.val(decodeURIComponent(value));
    }
    $btn.click(function() {
        const baseUrl = '/assignment_system/posts';
        const value = $search.val();
        if (!value) {
            window.location.replace(baseUrl);
            return;
        }
        const field = $select.val();
        const url = `${baseUrl}?${field}=${value};`
        window.location.replace(url);
    });
</script>
{% endblock %}