{% extends 'assignment_system/layout.html' %}
{% block content %}
<a href="{% url "post_list" %}">Назад</a>
<br/>
<br/>
<button id="print">Друк</button>
<div class="container" id="template">
    <div class="text-center">ІНФОРМУЮ</div>
    <br/>
    <br/>
    <div class="text-center">{{post.title}}</div>
    <br/>
    <br/>
    Я, {{ post.task_owner.name }} {{ post.task_owner.last_name }},
    інформую, що {{ post.description }}.
    <br/>
    <br/>
    {{ position }}<br/>
    {{created_at}}
</div>

<br/>
<br/>
<script>
    const button = document.getElementById('print');
    //bug: works only ones until reload
    button.onclick = function() {
        printDiv('template');
    }
</script>
{% endblock %}