{% extends 'assignment_system/layout.html' %}
{% block content %}
<ul class="list-group">
    {% for post in posts %}
        <div class="list-group-item" style="width:50%">
            <a href="{% url "post_edit" post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{post.title}}</h5>
                </div>
            </a>
            <small><a href="{% url "post_delete" post.id %}">Видалити</a></small>
            <small><a href="{% url "post_template" post.id %}">Шаблон</a></small>
        </div>
    {% endfor %}
</ul>
<a href="{% url "post_new" %}">Додати новий</a>
{% endblock %}