<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Система контролю виконання доручень і розпоряджень</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assignment_system/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assignment_system/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/assignment_system">Головна</a>
        <a class="navbar-brand" href="/assignment_system/home">Кабінет</a>

        <a class="navbar-brand" href="/assignment_system/assignees">Виконувачі</a>

        <a class="navbar-brand" href="/assignment_system/assignments">Доручення</a>

        <div style="margin-left: 50%">
            <a class="navbar-brand" href="/assignment_system/login">Авторизуватися</a>
            <a class="navbar-brand" href="/assignment_system/logout">Вийти</a>
            <a class="navbar-brand" href="/assignment_system/signup">Зареєструватися</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'assignment_system/js/script.js' %}"></script>
</body>
</html>