<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment_system</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assignment_system/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assignment_system/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/assignment_system">Navbar</a>
        <a class="navbar-brand" href="/assignment_system/home">Home</a>
        <a class="navbar-brand" href="/assignment_system/login">Login</a>
        <a class="navbar-brand" href="/assignment_system/logout">Log out</a>
        <a class="navbar-brand" href="/assignment_system/signup">Register</a>

        <a class="navbar-brand" href="/assignment_system/assignees">Assignees</a>
        <a class="navbar-brand" href="/assignment_system/assignments">Assignments</a>
    </nav>
    {% block content %}
    {% endblock %}
    FOOTER
</body>
</html>