form {
    width: 50%;
    margin-left: 10px
}

#loading {
    position: absolute;
    width: 50%;
    height: 50%;
    background: url('loader.gif') no-repeat center center;
    margin: auto;
}

.one-assignment-table-trs:hover {
    background-color: lightblue
}

.list-custom {
    float: none;
    margin: 0 auto;
    width: 85%;
}

.list-editor {
    height: auto;
    float: left;
}
